.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      //align-items: center;
      //justify-content: space-between;
      padding: 2rem;
      gap: 2rem;
      margin-top: 2rem;
    }

    .charts {
      padding: 0.5rem 2rem;
    }
  }

  .title {
    color: white;
  }
}
